[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde
[submodule "themes/msb-hugo-theme"]
	path = themes/msb-hugo-theme
	url = https://github.com/nagarjuna993/msb-hugo-theme.git
[submodule "resume"]
	path = themes/msb-hugo-theme
	url = https://github.com/nagarjuna993/msb-hugo-theme.git
[submodule "themes/resume"]
	path = themes/resume
	url = https://github.com/nagarjuna993/msb-hugo-theme.git
